*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
src/org/frc1058/robot/commands/BaseCommand.kt
src/org/frc1058/robot/commands/test.java
src/org/frc1058/robot/subsystems/BaseSubsystem.kt

/bin/
build/
dist/
sysProps.xml
